body {
  margin: 0;
}

header {
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 100%;
}

.logotipo {
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(254, 254, 254, 0.9);
}

.menu .enlaces {
  width: 100%;
}

.menu ul {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  display: inline-block;
  padding: 15px;
}

.enlaces a {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  color: #2f2d2f;
  text-decoration: none;
}

.enlaces a:hover {
  color: #f05743;
}

#contenido-principal {
  width: 100%;
  height: 500px;
  background-image: url(../img/contenido-principal.jpg);
  background-size: cover;
}

.propuesta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#trans-box-propuesta {
  width: 630px;
  background-color: rgba(66, 68, 70, 0.38);
}

.propuesta h1 {
  text-align: center;
  color: white;
  font-family: Rubik, sans-serif;
  font-size: 60px;
  text-shadow: 0 0 30px rgb(0, 0, 0);
}

.propuesta p {
  text-align: center;
  color: white;
  font-family: Dosis, serif;
  font-size: 30px;
  letter-spacing: 1.3px;
  line-height: 121%;
}
.formulario {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}
fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  font-family: Dosis, serif;
  font-size: 30px;
}
#botonform {
  display: flex;
  text-align: center;
  font-family: Dosis, serif;
  font-size: 30px;
}

#beneficios {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(30, 51, 189, 0.08), rgba(30, 51, 189, 0.08)), url(../img/beneficios.jpg);
  display: flex;
  background-size: cover;
}

.contenido-beneficios {
  height: 100%;
}

#frase-beneficios {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 45%;
  font-family: Dosis, sans-serif;
  font-size: 30px;
  color: white;
}

.iconos-beneficios {
  display: flex;
  justify-content: space-around;
  padding: 0 200px;
  align-items: center;
  height: 55%;
  background-color: white;
}

.iconos-beneficios div p {
  color: white;
  text-align: center;
}
/*
.iconos-beneficios div {
  padding: 20px;
  background-color: rgba(247, 247, 247, 0.82);
}
*/

#como-funciona {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex !important;
}

.contenido-como {
  height: 100%;
}

#paso-paso {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 42px;
}

.paso {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
}

.paso p {
  font-family: Dosis, serif;
  font-size: 20px;
  color: rgb(37, 33, 43);
  width: 200px;
  
}
.numero-icono {
  padding-bottom: 30px;
}

#planes-a-medida {
  width: 100%;
  height: 500px;
  background-color: white;
}

#contenido-planes {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-size: cover;
}

.receta {
  display: flex !important;
  /* necesario por la librería slick */
  justify-content: center;
}

.propiedades ul {
  padding-left: 0;
}

.propiedades li {
  list-style-type: none;
}

.nombre-receta {
  font-family: Rubik, sans-serif;
  font-size: 25px;
  color: #2f2d2f;
  max-width: 250px;
  text-align: center;
}

.para-cuantos {
  font-family: Dosis, sans-serif;
  font-size: 25px;
  color: rgb(73, 19, 120);
}

.receta li {
  font-family: Dosis, sans-serif;
  font-size: 20px;
  color: rgb(37, 33, 43);
}

.recetas-foto {
  display: inline-flex;
}

.foto-plato {
  border-radius: 300px;
  width: 400px;
  height: 400px;
}

#comparte-tu-experiencia {
  width: 100%;
  height: 400px;
  background-image: url(../img/comparte-tu-experiencia.jpeg);
  background-size: cover;
}

.contenido-comparte {
  display: flex;
  justify-content: center;
  padding-bottom: 83px;
  padding-top: 83px;
}

.testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
}

.testimonios div {
  text-align: center;
}

.slick-prev {
  width: 25px !important;
  height: 25px !important;
}

.slick-next {
  width: 25px !important;
  height: 25px !important;
}

.slick-prev:before {
  color: #f05743 !important;
}

.slick-next:before {
  color: #f05743 !important;
}

.foto-testimonio {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.testimonios .slick-slide img {
  display: inline;
}

.testimonios p {
  font-size: 25px;
  font-family: DOSIS, sans-serif;
  text-align: center;
  color: rgb(29, 28, 29);
}

#foot {
  background-color: rgb(37, 33, 43);
}

.foot-container {
  display: flex !important;
  flex-direction: column;
}

.foot-container ul li {
  list-style-type: none;
}
.formulario-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.enlaces-externos {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.enlaces-internos {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 30px;
  text-align: center;
  width: auto;
}

.enlaces-internos a {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.enlaces-internos a:hover {
  color: rgb(128, 125, 123);
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.enlaces-rrss {
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding-left: 0px;
}

.enlaces-rrss a {
  color: white;
  font-size: 40px;
  padding-left: 0px;
}

.enlaces-rrss a:hover {
  color: #f05743;
}
