body {
    margin: 0;
}

header {
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%;
}

.logotipo {
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(254, 254, 254, 0.9);
}

.menu .enlaces {
    width: 100%;
}

.menu ul {
    text-align: center;
    margin-top: 51px;
}

.menu li {
    display: inline-block;
    padding: 15px;
}

.enlaces a {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    color: #2f2d2f;
    text-decoration: none;
}

.enlaces a:hover {
    color: #f05743;
}

#contenido-principal {
    width: 100%;
    height: 500px;
    background-image: url(../img/contenido-principal.jpg);
    background-size: cover;
}

.propuesta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#trans-box-propuesta {
    width: 630px;
    background-color: rgba(66, 68, 70, 0.38);
}

.propuesta h1 {
    text-align: center;
    color: white;
    font-family: Rubik, sans-serif;
    font-size: 60px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.propuesta p {
    text-align: center;
    color: white;
    font-family: Dosis, serif;
    font-size: 30px;
    letter-spacing: 1.3px;
    line-height: 121%;
}

#beneficios {
    width: 100%;
    background-image: url(../img/beneficios.jpeg);
    display: flex;
}

#como-funciona {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
}

#planes-a-medida {
    width: 100%;
    height: 500px;
    background-image: url(../img/social/planes-a-medida.jpg);
    display: flex;
}

#progreso {
    width: 100%;
    height: 500px;
    background-color: green;
    display: flex;
}

#comparte-tu-experiencia {
    width: 100%;
    height: 400px;
    background-image: url(../img/comparte-tu-experiencia.jpeg);
}

.contenido-comparte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
}

.slick-prev {
    width: 20px !important;
    height: 20px !important;

}

.slick-next {
    width: 20px !important;
    height: 20px !important;

}

.slick-prev:before {
    color: #f05743 !important;
}

.slick-next:before {
    color: #f05743 !important;
}

.foto-testimonio {
    width: 200px;
    height: 200px;

}

.testimonios p {
    font-size: 25px;
    font-family: DOSIS, sans-serif;
    text-align: center;
    color: rgb(29, 28, 29);
}

#foot {
    background-color: rgb(37, 33, 43);
    display: flex;
}

.foot-container ul li {
    list-style-type: none;
}

.social-media {
    display: flex;
}

.enlaces-rrss {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 40px;
}

.enlaces-rrss ul li {
    width: 50px;
}
